<div class="row">
  <div class="col-12">
    <h3>Add new servers or blueprints!</h3>
    <div class="form-group">
      <label>Server Name</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <input type="text" class="form-control" #serverNameInput>
    </div>
    <div class="form-group">
      <label>Server Content</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
      <input type="text" class="form-control" #serverContentInput>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
      <button class="btn btn-info" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
    </div>
  </div>
</div>
